{% extends 'blog/base.html' %}
{% block content %}
<div class="container">
    <div class="post">
    <div class="card">
    <div class="card-body">
        {% if post.created %}
            <div class="date">
                {{ post.created }}
            </div>
        {%  endif %}
        <div class="card-header">
        <h2>By: {{post.author.first_name}} {{post.author.last_name}}</h2>
        <h1>{{post.title}}</h1>
        </div>
        <div class="card-text">
        <p>{{post.text}}</p>
        </div>
        <a class="btn btn-primary" href="{% url 'post_list' %}" role="button">На главную</a>
        {% for comment in comments %}
        <h2>Комментарии:</h2>
        <div class="card-body">
        <h2>{{comment.name}}    </h2>
        </div>
        <div class="card-text">
        <p>{{comment.body}}</p>
        </div>
        {% endfor%}
    </div>
    </div>
    </div>
</div>
<div class="container">
<form action="" method="post"> {% csrf_token %}
    {{comment_form.as_p}}
    <input type="submit">
</form>
</div>

{% endblock %}